<h1>Publications</h1>
<% Publication::CATEGORIES.each_pair do |label, name| %>
  <% publications_cat = Publication.get_publications_by_category(name) %>
  <% unless publications_cat.empty? %>
    <br/><br/>
    <h2><%= name %></h2>
    <br/>
  <%end%> 
  <% Publication.get_years_from_category(publications_cat).each do |year| %>
    <% publications = Publication.get_publications_by_category_and_year(name, year) %>
    <% unless publications.empty? %>          
      <div class="title">
        <b><%= year %></b>
        <br/>
      </div>
    <% end %>
    <% publications.each do |publication| %>
      <article class="publication">
        <p>
          <%= publication.__send__("#{label}_to_ref".to_sym) %>
        </p>
      </article>
  <% end %>
  <br/>
  <% end %>
<% end %>
