<%= render 'search' %>


<% if @search_query.present? %>
  <h1>'Search Results'</h1>

  <% if @publications.empty? %>      
    <br> 
    <h2><%= "No publications found" %></h2>
  <% else %>
    <%= render @publications%>
  <% end %>
<% else %>
  <%= render 'publication_list'%>
<% end %>



