<h1>Publications</h1>
<% Publication::CATEGORIES.each_pair do |label, name| %>
  <br/><br/>
  <h2><%= name %></h2>
  <br/>
  <% @publications.each do |publication| %>
    <% if publication.category == name %>
      <article class="publication">
        <p>
          <%= publication.__send__("#{label}_to_ref".to_sym) %>
        </p>
      </article>
    <% end %>
  <% end %>
<% end %>
